{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "unusedExports": true
      }
    ],
    "@typescript-eslint/no-var-requires": 1,
    "no-var-requires": 0,
    "indent": [
      2,
      2
    ],
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      1,
      "always"
    ],
    "linebreak-style": [
      2,
      "unix"
    ]
  }
}